p{

    color: white;
    display: inline;
}

.table{
    border-style:solid;
    border-width:5px;
}

tr{
    border-style:solid;
    border-width:1px;

}

td{
    border-style:solid;
    border-width:1px;

}

.up{
    background-color: lawngreen;

}

.down{
    background-color: firebrick;
}